@import (reference) '../common/utils';
@import (reference) 'toggle-mixins';
@import (reference) 'toggle-sizes';
@import (reference) 'toggle-shapes';
@import (reference) 'toggle-themes';

.toggle,
.toggle-ui,
.toggle-on-label,
.toggle-off-label {
  font: inherit;
}

.toggle {
  font: inherit;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: pointer;

  .toggle-disabled-state-mixin({
    cursor: not-allowed;
    opacity: @toggle-disabled-opacity;
  });

  &:extend(.antialiased all);
  &:extend(.toggle-rounded all);
  &:extend(.toggle-md all);
}

.toggle-state {
  &:extend(.visually-hidden all);
}

.toggle-ui {
  display: block;
  position: relative;
  overflow: hidden;

  &:after {
    content: ' ';
    overflow: hidden;
    position: absolute;
  }
}

.toggle-on-label,
.toggle-off-label {
  position: absolute;
  text-align: center;

  .icon-inside-toggle-mixin({
    line-height: inherit;
  });
}

.toggle-state:not(:checked) + .toggle-ui .toggle-on-label,
.toggle-state:checked + .toggle-ui .toggle-off-label {
  opacity: 0;
}

.toggle-ui,
.toggle-ui:after,
.toggle-on-label,
.toggle-off-label {
  transition: 0.1s ease-out;
}

.toggle-ui {
  transition-property: background-color;

  &:after {
    transition-property: box-shadow, background-color, transform;
    will-change: box-shadow;
  }
}

.toggle-on-label,
.toggle-off-label {
  transition-property: color, transform, opacity;
}
