@import '../common/variables';
@import '../common/utils';

.toggle {
  font: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.toggle-state {
  &:extend(.visually-hidden all);
}

.toggle-ui {
  display: inline-block;
  width: 50px;
  height: 25px;
  position: relative;
  background: @accent-color;
  border-radius: 200px;
  overflow: hidden;
  transition: 100ms ease-out;
  transition-property: background-color;

  &:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 200px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    text-indent: 22px;
    transition: 100ms ease-out;
    transition-property: background-color, transform;
  }
}

.toggle-state:checked + .toggle-ui {
  background: darken(@accent-color, 20%);

  &:before {
    transform: translateX(25px);
  }
}

.toggle-state:focus + .toggle-ui {
  box-shadow: inset 0 0 0 2px fade(black, 10%);
}
