@import (reference) '../common/utils';
@import (reference) '../common/rules';
@import (reference) 'text-input-mixins';
@import (reference) 'text-input-sizes';

.text-input {
  &:extend(.reset-element-rule all);
  &:extend(.antialiased all);
  &:extend(.text-input-rounded all);
  &:extend(.text-input-md all);

  font-weight: 500;
  white-space: nowrap;
  border-bottom-width: @text-input-border-width;
  transition-property: border-color, background-color, color, opacity;
  position: relative;
  vertical-align: middle;
  display: inline-block;

  .text-input-disabled-state-mixin({
    cursor: not-allowed;
    opacity: @text-input-disabled-opacity;
  });

  &.disabled.disabled:not(button):not(input) {
    pointer-events: none;
  }
}
