@import (reference) '../common/rules';

.table,
.table-row,
.table-cell,
.table-header,
.table-body,
.table-footer {
  &:extend(.reset-element-rule all);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-action {
  transition-property: opacity;
}

.table-row {
  transition-property: background-color, color;

  &:not(:hover) {
    .table-action {
      opacity: 0;
    }
  }
}

.table-cell {
  &:extend(.text-left all);
  padding: 10px;
}

.table-header,
.table-footer {
  background: fade(@default-color, 50%);

  .table-cell {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
  }
}

.table-body {
  .table-row {
    background-color: fade(@default-color, 10%);

    &:not(:last-child) {
      border-bottom: 1px solid fade(@default-color, 20%);
    }
  }
}

.table-alternate {
  .table-row {
    &:nth-child(2n) {
      background-color: fade(@default-color, 20%);
    }
  }
}

.table-hilite {
  .table-row:hover {
    background-color: fade(#99f, 20%);
  }

  .table-row.active {
    background-color: fade(#bb5, 20%);
  }
}

.table-body-viewport {
  overflow: none;
  overflow-y: auto;
  max-height: 524px;
}
