@import (reference) 'card-variables';
@import (reference) 'card-sizes';

.card {
  background: @card-background-color;
  box-shadow: 0 0 4px 0 fade(black, 15%);

  &:extend(.card-md all);
}

.card,
.card-header,
.card-body,
.card-footer {
  display: block;
  max-width: 100%;
  position: relative;
}

.card-header,
.card-body,
.card-footer {
  &:extend(.clearfix all);
}

.card-header {
  border-bottom: @card-separator-width solid @card-separator-color;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.card-body {
  overflow: auto;
}

.card-footer {
  border-top: @card-separator-width solid @card-separator-color;
}
