<div class="grid">
  <div class="cell span-6 light-bg btn-list">
    <div class="alert alert-default">
      <i class="material-icons">warning</i>
      This is an alert message lorem ipsum dolor sit amet.
      <button type="button" class="alert-close">
        <i class="material-icons">cancel</i>
      </button>
    </div>
  </div>
  <div class="cell span-6 dark-bg btn-list">
    <div class="alert alert-default-dark">
      <i class="material-icons">warning</i>
      This is an alert message lorem ipsum dolor sit amet.
      <button type="button" class="alert-close">
        <i class="material-icons">cancel</i>
      </button>
    </div>
  </div>
</div>
