<div class="grid">
  <div class="cell span-6 light-bg">
    <label class="any-toggle">
      <input type="checkbox" class="any-toggle-state">
      <span class="any-toggle-items" role="presentation">
        <span class="any-toggle-on-item">
          <i class="material-icons">favorite</i>
        </span>
        <span class="any-toggle-off-item">
          <i class="material-icons">favorite_border</i>
        </span>
      </span>
    </label>
  </div>
  <div class="cell span-6 dark-bg">
    <label class="any-toggle">
      <input type="checkbox" class="any-toggle-state">
      <span class="any-toggle-items" role="presentation">
        <span class="any-toggle-on-item">
          <i class="material-icons">alarm_on</i>
        </span>
        <span class="any-toggle-off-item">
          <i class="material-icons">alarm_off</i>
        </span>
      </span>
    </label>
  </div>
</div>
