<div class="grid">
  <div class="cell span-6 light-bg btn-list">
    <button type="button" class="btn btn-default btn-icon">
      <i class="material-icons">favorite_border</i>
    </button>
    <button type="button" class="btn btn-default btn-icon btn-pill">
      <i class="material-icons">settings</i>
    </button>
  </div>
  <div class="cell span-6 dark-bg btn-list">
    <button type="button" class="btn btn-default-dark btn-icon">
      <i class="material-icons">star</i>
    </button>
    <button type="button" class="btn btn-default-dark btn-icon btn-pill">
      <i class="material-icons">thumb_up</i>
    </button>
  </div>
</div>
