<div class="grid">
  <div class="cell span-6 light-bg btn-group">
    <label class="btn-state-label">
      <input type="radio" checked class="btn-state" name="foo" value="yes">
      <span class="btn btn-default btn-pill">Yes</span>
    </label>
    <label class="btn-state-label">
      <input type="radio" class="btn-state" name="foo" value="no">
      <span class="btn btn-default btn-pill">No</span>
    </label>
  </div>
  <div class="cell span-6 dark-bg btn-list">
    <label class="btn-state-label">
      <input type="radio" checked class="btn-state" name="bar" value="yes">
      <span class="btn btn-default-dark btn-pill btn-icon">
        <i class="material-icons">done</i>
      </span>
    </label>
    <label class="btn-state-label">
      <input type="radio" class="btn-state" name="bar" value="no">
      <span class="btn btn-default-dark btn-pill btn-icon">
        <i class="material-icons">clear</i>
      </span>
    </label>
  </div>
</div>
