<div class="grid">
  <div class="cell span-6 light-bg">
    <label class="radio">
      <input class="radio-state" type="radio" name="radio-foo">
      <span class="radio-ui">
        <span class="radio-label">Radio</span>
      </span>
    </label>

    <label class="radio">
      <input class="radio-state" type="radio" name="radio-foo">
      <span class="radio-ui">
        <span class="radio-label">Radio</span>
      </span>
    </label>
  </div>
  <div class="cell span-6 dark-bg">
    <label class="checkbox checkbox-default-dark">
      <input class="checkbox-state" type="checkbox">
      <span class="checkbox-ui">
        <span class="checkbox-label">Checkbox</span>
      </span>
    </label>

    <label class="checkbox checkbox-default-dark">
      <input class="checkbox-state" type="checkbox">
      <span class="checkbox-ui">
        <span class="checkbox-label">Checkbox</span>
      </span>
    </label>
  </div>
</div>
