<div class="grid">
  <div class="cell span-6 light-bg">
    <table class="table table-default">
      <colgroup>
        <col width="30px">
        <col>
        <col>
        <col>
        <col width="55px">
      </colgroup>
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">
            <label>
              <input type="checkbox">
            </label>
          </th>
          <th class="table-cell">Material</th>
          <th class="table-cell text-center">Quantity</th>
          <th class="table-cell text-center">Unit Price</th>
          <th class="table-cell text-right"></th>
        </tr>
      </thead>
    </table>
    <div class="table-body-viewport">
      <table class="table table-hilite">
        <colgroup>
          <col width="30px">
          <col>
          <col>
          <col>
          <col width="55px">
        </colgroup>
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Acrylic</td>
            <td class="table-cell text-center">25</td>
            <td class="table-cell text-center">$2.90</td>
            <td class="table-cell text-right">
              <button type="button" class="btn btn-simple btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Plywood</td>
            <td class="table-cell text-center">50</td>
            <td class="table-cell text-center">$1.25</td>
            <td class="table-cell text-right">
              <button type="button" class="btn btn-simple btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Laminate</td>
            <td class="table-cell text-center">10</td>
            <td class="table-cell text-center">$2.35</td>
            <td class="table-cell text-right">
              <button type="button" class="btn btn-simple btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="cell span-6 dark-bg">
    <table class="table table-default">
      <colgroup>
        <col width="30px">
        <col>
        <col>
        <col>
        <col>
        <col width="55px">
      </colgroup>
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">
            <label>
              <input type="checkbox">
            </label>
          </th>
          <th class="table-cell">Material</th>
          <th class="table-cell"></th>
          <th class="table-cell text-center">Quantity</th>
          <th class="table-cell text-center">Unit Price</th>
          <th class="table-cell text-right"></th>
        </tr>
      </thead>
    </table>
    <div class="table-body-viewport">
      <table class="table table-hilite">
        <colgroup>
          <col width="30px">
          <col>
          <col>
          <col>
          <col>
          <col width="55px">
        </colgroup>
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Acrylic</td>
            <td class="table-cell"></td>
            <td class="table-cell text-center">25</td>
            <td class="table-cell text-center">$2.90</td>
            <td class="table-cell text-right">
              <button type="button" class="btn btn-simple-dark table-action btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Plywood</td>
            <td class="table-cell"><span class="badge badge-candy">In stock</span></td>
            <td class="table-cell text-center">50</td>
            <td class="table-cell text-center">$1.25</td>
            <td class="table-cell text-right">
              <button type="button" class="btn btn-simple-dark table-action btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-cell">
              <label>
                <input type="checkbox">
              </label>
            </td>
            <td class="table-cell">Laminate</td>
            <td class="table-cell"><span class="badge">Out of stock</span></td>
            <td class="table-cell text-center">10</td>
            <td class="table-cell text-center">$2.35</td>
            <td class="table-cell text-right">
              <button type="button" title="Delete" class="btn btn-simple-dark table-action btn-pill btn-md btn-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
