<div class="grid">
  <div class="cell span-6 light-bg">
    <label class="toggle toggle-default toggle-sm toggle-pill">
      <input type="checkbox" class="toggle-state">
      <span class="toggle-ui" role="presentation">
        <span class="toggle-on-label">ON</span>
        <span class="toggle-off-label">OFF</span>
      </span>
    </label>
  </div>
  <div class="cell span-6 dark-bg">
    <label class="toggle toggle-default-dark toggle-sm toggle-pill">
      <input type="checkbox" class="toggle-state">
      <span class="toggle-ui" role="presentation">
        <span class="toggle-on-label">ON</span>
        <span class="toggle-off-label">OFF</span>
      </span>
    </label>
  </div>
</div>
