@import (reference) '../common/utils';
@import (reference) '../common/rules';
@import (reference) 'alert-mixins';
@import (reference) 'alert-sizes';

.alert {
  &:extend(.reset-element-rule all);
  &:extend(.antialiased all);
  &:extend(.alert-rounded all);
  &:extend(.alert-md all);

  vertical-align: middle;
  position: relative;
  display: block;

  [class*=icon] {
    vertical-align: top;
  }

  .alert-close {
    &:extend(.reset-element-rule all);

    line-height: 1;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0.5;
    transition-property: opacity;

    &:hover {
      opacity: 0.8;
    }
  }
}
