@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-accent {
  @color: #3f51b5;

  &:extend(.btn all);

  .btn-colors-mixin(
    @bg-color: @color;
    @color: white;
    @hover-bg-color: lighten(@color, 5%);
    @hover-color: white;
    @active-bg-color: darken(@color, 20%);
    @active-color: white;
    @focus-color: lighten(@color, 20%);
    @active-focus-color: lighten(@color, 15%);
  );
}
