@import (reference) '../common/utils';

.btn-block {
  display: block;
  width: 100%;
}

// This class needs to be attached to a checkbox/radio that precedes the button
.btn-state {
  &:extend(.visually-hidden all);
}

// This one is the parent of btn-state and a button
.btn-state-label {
  display: inline-block;
  margin: 0;
  padding: 0;
}
