@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-candy-dark {
  @color: #ff0d5f;

  &:extend(.btn all);

  .btn-colors-mixin(
    @bg-color: darken(@color, 20%);
    @color: white;
    @hover-bg-color: darken(@color, 15%);
    @hover-color: white;
    @active-bg-color: lighten(@color, 0%);
    @active-color: white;
    @focus-color: lighten(@color, 0%);
    @active-focus-color: lighten(@color, 30%);
  );
}
