@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-candy {
  @color: #ff0d5f;

  &:extend(.btn all);

  .btn-colors-mixin(
    @bg-color: @color;
    @color: white;
    @hover-bg-color: lighten(@color, 5%);
    @hover-color: white;
    @active-bg-color: darken(@color, 20%);
    @active-color: white;
    @focus-color: lighten(@color, 30%);
    @active-focus-color: lighten(@color, 15%);
  );
}
