@import (reference) 'btn-mixins';
@import (reference) 'btn';

@accent-theme-color: #4183d7;

.btn-accent {
  &:extend(.btn all);

  .btn-theme-mixin(
    @bg-color: @accent-theme-color;
    @color: white;
    @hover-bg-color: lighten(@accent-theme-color, 5%);
    @hover-color: white;
    @active-bg-color: darken(@accent-theme-color, 20%);
    @active-color: white;
    @focus-color: lighten(@accent-theme-color, 20%);
    @active-focus-color: lighten(@accent-theme-color, 15%);
  );
}
