@import (reference) 'btn-mixins';
@import (reference) 'btn';
@import (reference) 'btn-theme-accent';

@accent-dark-theme-color: darken(@accent-theme-color, 30%);

.btn-accent-dark {
  &:extend(.btn all);

  .btn-theme-mixin(
    @bg-color: @accent-dark-theme-color;
    @color: white;
    @hover-bg-color: lighten(@accent-dark-theme-color, 5%);
    @hover-color: white;
    @active-bg-color: lighten(@accent-dark-theme-color, 20%);
    @active-color: white;
    @focus-color: lighten(@accent-dark-theme-color, 15%);
    @active-focus-color: lighten(@accent-dark-theme-color, 40%);
  );
}
