@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-default {
  &:extend(.btn all);

  .btn-theme-mixin(
    @bg-color: fade(black, 10%);
    @color: black;
    @hover-bg-color: fade(black, 15%);
    @hover-color: black;
    @active-bg-color: fade(black, 30%);
    @active-color: black;
    @focus-color: fade(black, 10%);
    @active-focus-color: fade(black, 20%);
  );
}
