@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-accent-dark {
  @color: #3f51b5;

  &:extend(.btn all);

  .btn-colors-mixin(
    @bg-color: darken(@color, 10%);
    @color: white;
    @hover-bg-color: darken(@color, 5%);
    @hover-color: white;
    @active-bg-color: lighten(@color, 10%);
    @active-color: white;
    @focus-color: lighten(@color, 10%);
    @active-focus-color: lighten(@color, 25%);
  );
}
