@import (reference) 'btn-mixins';

.btn-md {
  .btn-size-mixin(32px);
  font-size: 14px;
  padding: 0 12px;
}

.btn-sm {
  .btn-size-mixin(24px);
  font-size: 12px;
  padding: 0 9px;
}

.btn-lg {
  .btn-size-mixin(56px);
  font-size: 16px;
  padding: 0 24px;
}
