@import (reference) 'btn-mixins';
@import (reference) 'btn';

.btn-default-dark {
  &:extend(.btn all);

  .btn-theme-mixin(
    @bg-color: fade(white, 15%);
    @color: white;
    @hover-bg-color: fade(white, 20%);
    @hover-color: white;
    @active-bg-color: fade(white, 35%);
    @active-color: white;
    @focus-color: fade(white, 15%);
    @active-focus-color: fade(white, 25%);
  );
}
