@import (reference) 'btn-mixins';
@import (reference) 'btn';

@candy-theme-color: #ad0731;

.btn-candy {
  &:extend(.btn all);

  .btn-theme-mixin(
    @bg-color: @candy-theme-color;
    @color: white;
    @hover-bg-color: lighten(@candy-theme-color, 5%);
    @hover-color: white;
    @active-bg-color: darken(@candy-theme-color, 10%);
    @active-color: white;
    @focus-color: lighten(@candy-theme-color, 20%);
    @active-focus-color: lighten(@candy-theme-color, 15%);
  );
}
