@import (reference) '../common/utils';
@import (reference) 'btn-mixins';
@import (reference) 'btn-sizes';
@import (reference) 'btn-shapes';

.btn {
  appearance: none;

  font: inherit;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  cursor: pointer;

  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  -webkit-tap-highlight-color: fade(black, 0%);

  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color, color, opacity;
  will-change: box-shadow;

  position: relative;
  vertical-align: middle;

  display: inline-block;
  box-sizing: border-box;
  width: auto;
  margin: 0;

  &[disabled][disabled],
  &:disabled:disabled,
  &.disabled.disabled,
  input[type=checkbox][disabled][disabled] + label[for]&,
  input[type=radio][disabled][disabled] + label[for]&,
  input[type=checkbox]:disabled:disabled + label[for]&,
  input[type=radio]:disabled:disabled + label[for]& {
    cursor: not-allowed;
    opacity: 0.4;
  }

  a&.disabled.disabled {
    pointer-events: none;
  }

  &:extend(.clearfix all);
  &:extend(.antialiased all);
  &:extend(.btn-md all);
  &:extend(.btn-rounded all);
}
