@import (reference) '../common/utils';
@import (reference) 'btn-mixins';
@import (reference) 'btn-sizes';

.btn {
  appearance: none;
  font: inherit;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  -webkit-tap-highlight-color: fade(black, 0%);
  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color, color, opacity;
  will-change: box-shadow;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;

  .btn-disabled-state-mixin({
    cursor: not-allowed;
    opacity: @btn-disabled-opacity;
  });

  &.disabled.disabled:not(button):not(input) {
    pointer-events: none;
  }

  .icon-inside-btn-mixin({
    line-height: inherit;
    vertical-align: top;
  });

  &:extend(.antialiased all);
  &:extend(.btn-rounded all);
  &:extend(.btn-md all);
}
