@import (reference) '../common/utils';
@import (reference) 'any-toggle-variables';
@import (reference) 'any-toggle-mixins';

.any-toggle {
  font: inherit;
  line-height: inherit;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: fade(black, 0%);

  .any-toggle-disabled-state-mixin({
    cursor: not-allowed;
    opacity: @any-toggle-disabled-opacity;
  });

  .icon-inside-any-toggle-mixin({
    line-height: inherit;
    vertical-align: middle;
  });
}

.any-toggle-state {
  &:extend(.visually-hidden all);
}

.any-toggle-label {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}

.any-toggle-hidden-item-mixin({
  &:extend(.hidden all);
});
