@badge-md-height: 17px;
@badge-md-font-size: 10px;
@badge-md-padding: 5px;

@badge-lg-height: 24px;
@badge-lg-font-size: 14px;
@badge-lg-padding: 8px;

@badge-default-background-color: #9e9e9e;
@badge-default-text-color: white;

@badge-accent-background-color: #4183d7;
@badge-accent-text-color: white;

@badge-candy-background-color: #ff4081;
@badge-candy-text-color: white;
